/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* Theme styles */

:root {
    --dark: #432323;
    --bright: #2F5755;
    --lighter: #5A9690;
    --lightest: #E0D9D9;

    --color-h1: var(--lightest);
    --color-p: var(--lightest);
    --color-placeholder: var(--lighter);
    /* --color-button: ; */
    --bkgd-button: var(--bright);
    /* --color-button-hover: ; */
    /* --bkgd-button-hover: ; */
    /* --color-button-active: ; */
    /* --bkgd-button-active: ; */
    --bkgd: var(--bright);
    --bkgd-todo-wrapper: var(--dark);
    /* --bkgd-input: ; */
    --color-input: var(--lightest);
    --bkgd-todo-item: var(--bright);
    /* --color-edit-btn: ; */
    /* --bkgd-edit-btn: ; */
    /* --color-trash-btn: ; */
    /* --bkgd-trash-btn: ; */
    --color-error-text: rgb(255, 57, 42);
}

body {
    font-family: ;
}

h1 {
    font-family: ;
}

.to-do-wrapper {
    border-radius: 1rem;
}

.bkgd-layer {
    background-color: var(--bkgd);
}

input {
    outline: none;
    border: none;
}
.input-btn-group {
    border: 1px solid var(--lighter);
}
