.to-do-item,  input, button {
    font-family: "Verdana", sans-serif;
}

h1 {
    font-family: "Georgia", serif;
}

.dark {
    --dark: #000000;
    --bright: #151A1A;
    --lighter: hsl(180, 4%, 50%);
    --lightest: #FFFFFF;

    --bkgd: var(--bright);
    --color-h1: var(--lightest);
    --color-p: var(--lightest);
    --color-placeholder: var(--lighter);
    --color-completed: var(--lighter);
    --color-error-text: #FF0000;   
    --bkgd-todo-wrapper: var(--dark);
    --border-todo-wrapper:;
    --bkgd-todo-item: var(--bright);
    --border-todo-item:;
    --color-input: var(--lightest);
    --border-input: var(--lighter);
    --bkgd-button: ;
    --border-button: ;
    --color-button-hover: var(--dark);
    --bkgd-button-hover: var(--lighter);
    .to-do-wrapper {
        border: 1px solid var(--lighter);
    }
    .to-do-item,  input, button {
        font-family: "Montserrat", sans-serif;
    }
    h1 {
        font-family: "Montserrat Alternates", sans-serif;
    }
}

.light {
    --dark: #EEEEEE;
    --lighter: #777777;
    --lightest: #000000;

    --bkgd: var(--dark);
    --color-h1: var(--lightest);
    --color-p: var(--lightest);
    --color-placeholder: var(--lighter);
    --color-completed: var(--lighter);
    --color-error-text: rgb(255, 46, 81);    
    --bkgd-todo-item: var(--dark);
    --border-todo-item: var(--lighter);
    --color-input: var(--lightest);
    --border-input: var(--lightest);
    --bkgd-button: ;
    --border-button: ;
    --bkgd-button-hover: var(--lighter);
    --color-trash-btn: var(--lighter);
}

.teal-brown {
    --dark: #432323;
    --bright: #2F5755;
    --lighter: #5A9690;
    --lightest: #E0D9D9;

    --bkgd: var(--dark);
    --color-h1: var(--bright);
    --color-p: var(--dark);
    --color-placeholder: var(--lighter);
    --color-completed: var(--lighter);
    --color-error-text: rgb(234, 102, 69);
    --bkgd-todo-wrapper: var(--lightest);
    --bkgd-todo-item: var(--lightest);
    --border-todo-item: var(--dark);
    --color-input: var(--lightest);
    --bkgd-input: var(--lightest);
    --border-input: var(--dark);
    --bkgd-button: var(--lighter);
    --border-button: ;
    --color-button-active: var(--lightest);
    --bkgd-button-active: var(--bright);
    --color-edit-btn: var(--bright);
    --color-trash-btn: var(--lighter);

    .to-do-item {
        border-radius: 0.5rem; 
    }    
}

.navy-beige {
    --dark: #030303;
    --bright: #123458;
    --lighter: #D4C9BE;
    --lightest: #ffffff;

    --bkgd: var(--bright);
    --color-h1: var(--lighter);
    --color-p: var(--lightest);
    --color-placeholder: var(--lighter);
    --color-completed: var(--dark);
    --color-error-text: #FF0000;
    --bkgd-todo-wrapper: var(--dark);
    --bkgd-todo-item: var(--bright);
    --color-input: var(--lightest);
    --bkgd-input: var(--bright);
    --bkgd-button: var(--bright);
    --border-button: ;
    --color-button-active: var(--bright);
    --bkgd-edit-btn: var(--dark);

    input, .to-do-item, button {
        border-radius: 1rem 0;
    }
    .to-do-wrapper {
        border-radius: 3rem 0;
    }
    .to-do-item, input, button, h1 {
        font-family: "Space Grotesk", sans-serif;
    }
}

.teal {
    --dark: #06202B;
    --bright: #077A7D;
    --lighter: #7AE2CF;
    --lightest: #F5EEDD;

    --bkgd: var(--bright);
    --color-h1: var(--lightest);
    --color-p: var(--lightest);
    --color-placeholder: var(--lighter);
    --color-completed: var(--dark);
    --color-error-text: rgb(215, 53, 53);
    --bkgd-todo-wrapper: var(--dark);
    --bkgd-todo-item: var(--bright);
    --border-todo-item:;
    --color-input: var(--lightest);
    --border-input: var(--lighter);
    --bkgd-button: var(--bright);
    --border-button: var(--lightest);
    --color-button-active: var(--bright);
    .to-do-item,  input, button {
        font-family: "Georgia", serif;
    };
    .to-do-wrapper {
        background: linear-gradient(
            -10deg,
            var(--dark) 70%,
            #08384f,
            #0b5b6b
        );
    }
}

.purple {
    --dark: #21094E;
    --bright: #511281;
    --lighter: #4CA1A3;
    --lightest: #A5E1AD;

    --bkgd: var(--bright);
    --color-h1: var(--lightest);
    --color-p: var(--lightest);
    --color-placeholder: var(--lighter);
    --color-completed: var(--dark);
    --color-error-text: rgb(255, 46, 81);
    --bkgd-todo-wrapper: var(--dark);
    --bkgd-todo-item: var(--bright);
    --border-todo-item:;
    --color-input: var(--lightest);
    --border-input: var(--lighter);
    --bkgd-button: ;
    --border-button: var(--lighter);
    --bkgd-button-hover: var(--bright);
    --color-button-active: var(--lighter);
    --color-trash-btn: var(--lighter);

    input, .to-do-wrapper, button, .to-do-item {
        border-radius: 2rem;
    }
    input, button {
        border-width: 3px;
    }
    .to-do-item,  input, button {
        font-family: "Archivo", sans-serif;
    }
    h1 {
        font-family: "Archivo Black", sans-serif;
    }
}


.cream-green {
    --dark: #043915;
    --bright: #4C763B;
    --lighter: #B0CE88;
    --lightest: #FFFD8F;

    --bkgd: var(--bright);
    --color-h1: var(--lightest);
    --color-p: var(--lightest);
    --color-placeholder: var(--lighter);
    --color-completed: var(--dark);
    --color-error-text: rgb(255, 46, 81);
    --bkgd-todo-wrapper: var(--dark);
    --bkgd-todo-item: var(--bright);
    --border-todo-item:;
    --color-input: var(--lightest);
    --border-input:;
    --bkgd-button: ;
    --border-button: ;
    --bkgd-button-hover: var(--bright);
    --color-trash-btn: var(--lighter);

    background-image: url(../assets/wm-2-horizontal.svg);
    background-repeat: repeat-x;
    background-position: bottom;
}


.unicorn {
    --dark: #450693;
    --bright: #8C00FF;
    --lighter: #FF3F7F;
    --lightest: #FFC400;

    --bkgd: var(--bright);
    --color-h1: var(--lightest);
    --color-p: var(--lightest);
    --color-placeholder: var(--lighter);
    --color-completed: var(--dark);
    --color-error-text: rgb(255, 46, 81);
    --bkgd-todo-wrapper: var(--dark);
    --bkgd-todo-item: var(--bright);
    --border-todo-item:;
    --color-input: var(--lightest);
    --border-input:;
    --bkgd-button: ;
    --border-button: ;
    --color-button-hover: var(--lighter);
    --bkgd-button-hover: var(--lightest);
    --color-button-active: var(--lightest);
    --bkgd-button-active: var(--lighter);
    --color-edit-btn: var(--lighter);
    --bkgd-edit-btn: var(--lightest);
    --color-trash-btn: var(--dark);
    --bkgd-trash-btn: var(--lighter);
    background: linear-gradient(
        var(--bright) 80vh,
        var(--dark) 80vh,
        var(--dark) 82vh,
        var(--bright) 82vh,
        var(--bright) 84vh,
        var(--lighter) 84vh,
        var(--lighter) 86vh,
        var(--lightest) 86vh,
        var(--lightest) 88vh,
        var(--dark) 88vh,
        var(--dark) 100vh,
        var(--bright) 100vh
    );
    h1 {
        font-family: "Bowlby One SC", sans-serif;
    }
}



.night-stars {
    --darkest: #051016;
    --dark: #0D1F2D;
    --bright: #2F586E;
    --lighter: #D2973B;
    --lightest: #E8CA84;

    --bkgd: var(--darkest);
    --color-h1: var(--lightest);
    --color-p: var(--lightest);
    --color-placeholder: var(--lighter);
    --color-completed: var(--dark);
    --color-error-text: rgb(255, 46, 81);
    --bkgd-todo-wrapper: var(--dark);
    --border-todo-wrapper: var(--lighter);
    --bkgd-todo-item: var(--bright);
    --border-todo-item:;
    --color-input: var(--lightest);
    --border-input: var(--lightest);
    --bkgd-button: var(--bright);
    --border-button: var(--lightest);
    --color-button-active: var(--bright);
    --color-edit-btn: var(--lighter);
    --color-trash-btn: var(--lighter);
    
    background-image: url(../assets/stars-bkgd-gold.svg), url(../assets/stars-bkgd-gold.svg), url(../assets/stars-bkgd-gold.svg);
    background-size: 23%, 40%, 55%;
    .to-do-wrapper {
        border-width: 3px;
    }
    .to-do-item, input, button {
        font-family: "Libre Baskerville", serif;
    }
    h1 {
        font-family: "Quintessential", serif;
    }
}



.summer {
    --dark: #0046FF;
    --bright: #73C8D2;
    --lighter: #FF9013;
    --lightest: #F5F1DC;

    --bkgd: var(--lighter);
    --color-h1: var(--dark);
    --color-p: var(--lightest);
    --color-placeholder: var(--lighter);
    --color-completed: var(--bright);
    --color-error-text: #FF0000;
    --bkgd-todo-wrapper: var(--lightest);
    --bkgd-todo-item: var(--dark);
    --color-input: var(--dark);
    --border-input: var(--dark);
    --bkgd-button: var(--dark);
    --border-button: var(--dark);
    --color-button-hover: var(--lighter);
    --bkgd-button-hover: var(--dark);
    --color-button-active: var(--dark);
    --color-edit-btn: var(--bright);
    --color-trash-btn: var(--bright);

    .to-do-item, .input-btn-group {
        box-shadow: 0.5rem 0.5rem 0 var(--lighter);
    }
    .activeError, .inactiveError {
        margin-top: 0.5rem;
    }
    h1 {
        font-family: "Barrio", system-ui;
    }
}