
/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* Generic styles */

* {
    margin: 0;
    padding: 0;
}

.bkgd-layer {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100vw;
    z-index: -1;
}

body {
    background-color: var(--bkgd);
    color: var(--color-p);
}

h1 {
    font-size: 2.2rem;
    text-align: center;
    color: var(--color-h1);
}

p, input, button, span {
    font-size: 1.2rem;
}

input, span, svg {
    padding: 0.5rem;
}

input::placeholder {
    color: var(--color-placeholder);
}

.to-do-wrapper {
    width: clamp(18rem, 75vw, 30rem);
    padding: 2rem 5vw;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    background-color: var(--bkgd-todo-wrapper);
}

.to-do-item {
    display: flex;
    align-items: center;
    background-color: var(--bkgd-todo-item);
}

.to-do-item span {
    display: inline-block;
    flex-grow: 1;
}

form {
    width: 100%;
}

.input-btn-group {
    width: 100%;
    display: flex;
}

input {
    flex-grow: 1;
    background-color: var(--bkgd-input);
    color: var(--color-input);
}

button {
    width: min(15vw, 6rem);
    color: var(--color-button);
    background-color: var(--bkgd-button);
}

@media screen and (hover) {
    button:hover {
        color: var(--color-button-hover);
        background-color: var(--bkgd-button-h--color-button-hover);
    }
    button:active {
        color: var(--color-button-active);
        background-color: var(--bkgd-button-h--color-button-active);
    }
}

svg:first-of-type {
    background-color: var(--bkgd-edit-btn);
    color: var(--color-edit-btn);
}

svg:last-of-type {
    background-color: var(--bkgd-trash-btn);
    color: var(--color-trash-btn);
}



.completed {
    color: grey;
}

.activeError, .inactiveError {
    font-size: 0.8em;
    padding-top: 0.2em;
}

.activeError {
    color: var(--color-error-text);
    visibility: visible;
}

.inactiveError {
    visibility: hidden;
}


/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */
    /* Mode buttons */

#modes {
    z-index: 3;
    position: fixed;
    bottom: 0;
    margin: var(--hud-padding-desktop);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: 20px;
    box-shadow: 0 0 3px 1px #000000 inset;
}
.mode-button {
    height: 17px;
    width: 17px;
    border-radius: 50%;
    @media (hover),
      screen and (any-hover: none) and (orientation: landscape) and (min-height: 700px) {
            height: 17px;
            width: 17px;
    }
}
#modes {
    background-color: #444444;
    outline: 2px solid #888888;
}
.mode-button.active {
    outline: 6px solid #888888;
    box-shadow: 0 0 3px 7px black;
}

#modes #theme {
    background-color: purple;
}
#modes #teal {
    background-color: teal;
}
#modes #teal-brown {
    background-color: maroon;
}
#modes #navy-beige {
    background-color: darkblue;
}